[submodule "source/dc/nahoni"]
	path = source/dc/nahoni
	url = https://github.com/DCurrent/Nahoni
[submodule "source/dc/yukon"]
	path = source/dc/yukon
	url = https://github.com/DCurrent/Yukon
[submodule "source/dc/stoeckl"]
	path = source/dc/stoeckl
	url = https://github.com/DCurrent/Stoeckl
