/* 
	CSS printing style.
	Damon V. Caskey
	2011_07_01
	~2011_12_02
*/

body {
	margin: 0px 0px 0px 0px;	
	background-image: none;
	background-color:#FFF;	
	}
	
#container {	
	margin: auto auto auto auto;	
	width: auto;	
	}

#mainNavigation { display:none; }

#subContainer {
	margin: auto 0px 0px auto;
	width:auto;
	}

#subNavigation { display:none; 
	}
#subNavigation ul {display:none; }

#subNavigation li {display:none; }
#subNavigation ul ul {display:none; }
#subNavigation ul#toplevel {display:none; }

#subNavigation a {display:none; }
#subNavigation li a.fly {display:none; }

#subNavigation li a:hover {display:none; }
#subNavigation li:hover > a {display:none; }

#subNavigation table {display:none;}

#sidePanel { display:none; }

#sideContent { display:none; }

#footer { display:none;	}
#footer a:link { display:none; }
#footer a:visited { display:none; }
#footer a:hover { display:none;}
#footer a:active {  display:none; }

#footerPad{ display:none; }

#top h2 { display: none; }

img.uk_logo { display:none; }
.hideme {display:none; }

.NoPrint {display:none; }

/* Headings */
h1 
{
	color: 						#005daa;
	font-size:					xx-large;
	font-weight: 				bold;
	margin: 					0px 0px 0px 0px;
	text-shadow:				none;		
}

h1.flame
{
	padding-top: 10px;
	text-shadow:none;
}

h2
{ 
	color: 						#005daa; 
	font-size:					x-large; 
	font-weight: 				bold; 
	text-shadow:				none;	
}

h3 
{ 
	color: 						#005daa; 
	font-size:					large; 
	font-weight: 				bold; 
	text-shadow:				none;	
}

h3.flame
{
	color:						#F30;
	padding-top: 				10px;
	text-shadow: 				none;
}

h4
{ 
	color: 						#005daa;
	font-size:					larger;  
	text-shadow:				none;	
}

/* Banners */
.banner_container
{
	display:					block;
	box-sizing: 				none;
	-moz-box-sizing: 			none;
	-webkit-box-sizing: 		none;
	height:						auto;
	width:						auto;
	
	border-bottom:				thick solid;	
	border-top:					thick solid;
	font-weight:				bolder;
	margin-bottom:				20px;
	margin-top:					20px;
}

.banner_container a,
.banner_container a:hover
{
	font-style:					inherit;
	text-decoration:			none;
	color:inherit !important;	
}

.banner_container div.banner
{
	background-color: 			#fff;
	background-image: 			none;
	border-radius:				5px; 
	box-shadow: 				none;
	color: 						#FFF;
	height: 					auto;
	margin-bottom: 				5px;
	padding: 					5px 5px 5px 5px;
	width: 						auto;
}

.banner_container h1
{
	color:						#FFF;
}

.banner_container img.logo
{
	float:						left;
	margin: 					3px 3px 3px 3px;
}

.banner_container .slogan
{
	font-family: 				"Comic Sans MS", cursive;
	font-style: 				italic;
	text-align: 				right;
}


a
{
	 
	color:darkgrey;
	cursor: 					pointer;
	text-decoration: 			none;
}

a:visited
{ 
	color: 						#920A39; 
	
}
	
a:hover
{
	color:darkgrey; 
	font-style:none; 
	text-shadow:none;
	
}
	
a:active
{ 
	color:darkgrey;
}

.link-class
{	
	text-transform: uppercase;
	font-size: larger;
	text-shadow: 1px 1px 1px #00ff00;
}

/* Link, anchor 
a[href^='#']:not(.no_icon):not(nav):after
{
	font-family: 				FontAwesome;
	padding-left: 				5px;
	content: 					"\f13d";
}
*/

/* Link, external */
a[href^='//']:not(.no_icon):after,
a[href^='//']:not(.no_icon):after,
a[href^='https://']:not(.no_icon):after,
a[href^='www.']:not(.no_icon):after,
.icon_external:after,
a[href$='.pdf']:not(.no_icon):after,
.icon_pdf:after, 
a:not(.no_icon):after,
a[href*='.doc']:not(.no_icon):after,
.icon_word:after, 
a[href^='tel:']:not(.no_icon):after,
.icon_mail:after, 
a[href^='mailto:']:not(.no_icon):after,
.icon_mail:after,
a[href*='.xl']:not(.no_icon):after,
.icon_excel:after,
a[href*='.ppt']:not(.no_icon):after,
.icon_powerpoint:after,
a[href*='.pps']:not(.no_icon):after,
.icon_powerpoint:after
{	
	color:#00528e;
	font-family: 				FontAwesome;
	padding-left: 				5px;
	content: 					"(" attr(href) ")";
}

/* Link, images */
a > img 
{
	border:						thick;
	border-style:				solid;
	border-radius:				5px;
	opacity: 					1;
	margin:						5px 5px 5px 5px;
	padding:					5px 5px 5px 5px;
	transition: 				opacity .25s ease-in-out;
}

a > img::after
{
	content:" ";
}

a:hover > img
{
	opacity:					0.5;
}

.no_break
{
	page-break-inside: avoid;
}